

.login{

    padding:3rem;
    height: 100%;
  
}

.login .container{

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

}



.form__group{
    margin:20px auto;
}

.form__group p{
    padding:0.3rem;
    color:#dc3545;
    transition: 0.3s ease-out;
}



.loginForgot{
  width:40%;
text-align: end;

}


.login h1{
    padding-bottom: 0.5rem;
}

.login p a{
    margin-left:7px;
}
